# MySQL configuration file

[client]
host = 127.0.0.1
port = 3306
user = root
password = root

[mysqld]

bind-address = 127.0.0.1
port = 3306

# Character set and collation
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
